Source: flyway
Section: misc
Priority: optional
Maintainer: James Fellows <mrfellows@gmail.com>
Build-Depends: debhelper (>= 8.0.0), default-jre-headless
Standards-Version: 3.9.3
Homepage: https://flywaydb.org/

Package: flyway
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, default-jre-headless
Description: Version control for your database.
 Robust schema evolution across all your environments.
 With ease, pleasure and plain SQL.
